.LeftEdit {
	width: 100%;
	height: calc(100vh - 60px);
	overflow: hidden;
	.editButton {
		position: relative;
		box-sizing: border-box;
		display: flex;
		align-items: center;
		justify-content: flex-end;
		width: 100%;
		height: calc(100vh * 40 / 977);
		.theme {
			display: flex;
			align-items: center;
			height: 100%;
			.themeTitle {
				display: flex;
				align-items: center;
				margin-right: 10px;
				font-size: calc(100vw * 16 / 1920);
			}
		}
		.custom-button {
			height: calc(100vh * 30 / 977);
			margin-left: 1vw;
		}
	}
	.bottomEdit {
		width: 100%;
		height: calc(100% - calc(100vh * 40 / 977));
		overflow: hidden;
	}
}
