.common-layout {
	.el-header {
		padding: 0;
        background-color: rgb(24, 10, 1);
		background-image: radial-gradient(closest-side, rgb(255, 106, 7,0.5), rgba(235, 105, 78, 0)),
			radial-gradient(closest-side, rgb(255, 106, 7,0.5), rgba(243, 11, 164, 0));
            background-size: 100vw 30vh, 100vw 20vh;
background-position: -20vw -20vh, 30vw 10vh;
		background-repeat: no-repeat;
        animation: 15s backgroundAni infinite linear ;
	}
}
@keyframes backgroundAni {
    0% {
		background-size: 100vw 30vh, 100vw 30vh;
background-position: -50vw -10vh, 40vw -20vh;
	}
	25% {
		background-size: 100vw 30vh, 100vw 20vh;
		background-position: -20vw -20vh, 30vw 0vh;
	}
	50% {
		background-size: 110vw 30vh, 100vw 20vh;
		background-position: 30vw -20vh, -20vw 0vh;
	}
	75% {
		background-size: 110vw 30vh, 100vw 20vh;
		background-position: 30vw 0vh, -20vw -10vh;
	}
    100% {
		background-size: 100vw 30vh, 100vw 30vh;
		background-position: -50vw -10vh, 40vw -20vh;
	}
}
